<style>
  .loaction_price{
      width: 100%;
  }
  .container{
      /* width: 1600px; */
  }
  .text-grey{
      color: lightgray;
  }
  ul{
      margin: 0px;
      padding: 0px;
  }
  li{
      list-style: none;
  }

  .locationcity{
      display: flex;
      align-items: center;
      gap: 15px;
  }
  .loactionfull p{
      margin: 0px;
      color: #000;
      opacity: 50%;
      font-weight: 600;
  }
  .locationcity h3{
      margin: 0px;
  }
  .locationgmap{
      margin: 25px 0px;
      width: 48%;
  }
  .locationgmap img{
      width: 100%;
  }


  /* Ticket Price */
  .ticketpricelist{
      width: 48%;
  }
  .ticketpricelist ul li{
      display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  }
  .ticketpricelist ul li:nth-last-child(){
      border-bottom: none;
  }
  .ticketpricelist ul li h5{
      margin: 15px 0px !important;
      font-weight: 600;
  }
  @media screen and (max-width: 768px) {
    .locationgmap {
      width: 100%;
    }
    .ticketpricelist{
      width: 100%;
    }
    .loaction_price{
      padding-top: 15px;
    }
  }
</style>

<div class="container">
  <div class="loaction_price">
    <div class="loactionmap">
      <div class="maptitle">
        <h2>Location Map</h2>
      </div>
      <div class="locationname">
        <div class="locationcity">
          <span>
            <svg width="21" height="26" viewBox="0 0 21 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5172 25.596C10.3607 25.468 10.2468 25.3826 10.1472 25.2972C7.97019 23.3052 5.79316 21.3273 3.63035 19.3495C-0.581426 15.5077 -1.56323 7.65327 3.01851 3.09999C6.17734 -0.0303823 10.9441 -0.89835 14.9566 0.994105C18.9834 2.88656 21.3028 7.11257 20.9186 11.552C20.6198 14.967 19.2395 17.7416 16.6499 19.9898C14.5867 21.7969 12.5946 23.6893 10.5172 25.596ZM10.4887 6.10231C8.25477 6.10231 6.49038 7.80979 6.50461 9.95836C6.51884 12.05 8.31169 13.7717 10.4887 13.7717C12.6658 13.7717 14.4586 12.0643 14.4728 9.97259C14.4871 7.80979 12.7227 6.10231 10.4887 6.10231Z" fill="#EBA420"/>
            </svg>
          </span>
          <h3>Delhi</h3>
        </div>
        <div class="loactionfull">
          <p>New Barakhamba Rd, Connaught Lane, Barakhamba, New Delhi, Delhi 110001</p>
        </div>
        <div class="locationgmap">
          <img src="https://cdn.shopify.com/s/files/1/0889/3576/0194/files/image_16.jpg?v=1722946458" alt="">
        </div>
      </div>
    </div>
    <div class="price">
      <div class="actoticketprice">
        <h2>Ticket Price</h2>
      </div>
      <div class="ticketpricelist">
        <ul>
          <li>
            <h5>Bronze Section 202 - Show Only</h5>
            <h5>from ₹400</h5>
          </li>
          <li>
            <h5>Bronze Section 202 - Show Only</h5>
            <h5>from ₹400</h5>
          </li>
          <li>
            <h5>Bronze Section 202 - Show Only</h5>
            <h5>from ₹400</h5>
          </li>
          <li>
            <h5>Bronze Section 202 - Show Only</h5>
            <h5>from ₹400</h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
